$mainColor:#ff0000;

// body{
//     margin: 0;
// }
// div{
//     box-sizing: border-box;
// }
// div.container{
//     h4{
//         color:blue;
//     }
// }
.ani-enter{
    opacity: 0;
}//시작시 적용
.ani-enter-active{
    opacity: 1;
    transition: all 500ms;
}//동작시 적용
.red{
    color:$mainColor;
}
.my-alert{
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.my-alert-yellow{//second version;
    @extend .my-alert;
    background: #ffe591;
}

.my-alert p{
    margin-bottom: 0px;
}
.input-amount{
    width:100px;
}
.tab-text{
    padding: 20px;
    text-align: left;
}
.tab-text li{
    padding-left: 20px;
}